<app-header></app-header>
<div>
  <div>
    <div class="module">
      <h2>Outstanding Loans</h2>
      <div class="loanList">
        <table>
          <tr>
            <th>Loan ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Edit</th>
          </tr>
          <tr *ngFor="let loan of loans">
              <td><a routerLink="/loans/{{loan.id}}">{{loan.id}}</a></td>
              <td>{{loan.name}}</td>
              <td>{{loan.price}}</td>
              <td>Edit</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
